<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Gestoria Empresarial Global Service</h5>
                    <p class="category">Mas contenido en nuestra pagina web
                        <a href="https://gglobals.com.mx/">GGlobal Service</a>
                    </p>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <img src="http://192.168.2.18:3000/files/Logo.png">
                    </div>

                    <div class="row justify-content-center">
                        <mat-tab-group mat-align-tabs="center">
                            <mat-tab label="Introduccion">
                                <video controls>
                                    <source src="http://192.168.2.18:3000/files/Presentacion.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </mat-tab>
                            <mat-tab label="Contaduria">
                                <video controls>
                                    <source src="http://192.168.2.18:3000/files/Presentacion.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </mat-tab>
                            <mat-tab label="Paginas Web">
                                <video controls>
                                    <source src="http://192.168.2.18:3000/files/Presentacion.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </mat-tab>
                            <mat-tab label="Capacitaciones">
                                <video controls>
                                    <source src="http://192.168.2.18:3000/files/Presentacion.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </mat-tab>
                        </mat-tab-group>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>