<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Gestoria Empresarial Global Service</h5>
                    <p class="category">Mas contenido en nuestra pagina web
                        <a href="https://gglobals.com.mx/">GGlobal Service</a>
                    </p>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <video controls>
                            <source src="http://192.168.137.1:3000/files/Presentacion.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                          </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>