<footer class="footer">
    <div class="container-fluid">
        <nav>
            <ul>
                <li>
                    <a href="https://www.gglobals.com.mx">
            Gestoria Empresarial
          </a>
                </li>
                <li>
                    <a href="https://gglobals.com.mx/contacto">
            Contacto
          </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/gglobals/">
            Facebook
          </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            &copy; {{test | date: 'yyyy'}}, Diseñado para
            <a target="_blank">Global Service</a>. Codigo por
            <a target="_blank">Angel Salas</a>.
        </div>
    </div>
</footer>