<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md">
                            <h5 class="title">Empresas</h5>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-outline-primary" routerLink="/add-company">
                                <div>Agregar nueva Empresa</div>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <!--<th>Servicio</th>-->
                                    <th>RFC</th>
                                    <th>Estado</th>
                                    <th>Ciudad</th>
                                    <th>Telefono</th>
                                    <th>CP</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let company of companies" class="pointer">
                                    <td (click)="open('editar', company.id_company)">{{ company.id_company }}</td>
                                    <td (click)="open('editar', company.id_company)" class=" text-primary">{{ company.company }}</td>
                                    <!--<td (click)="open('editar', company.id_company)">{{ company.service }}</td>-->
                                    <td (click)="open('editar', company.id_company)">{{company.rfc}}</td>
                                    <td (click)="open('editar', company.id_company)">{{company.state}}</td>
                                    <td (click)="open('editar', company.id_company)">{{company.city}} </td>
                                    <td (click)="open('editar', company.id_company)">{{company.tel}}</td>
                                    <td (click)="open('editar', company.id_company)">{{company.cp}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>