<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md">
                            <h5 class="title">Empresas</h5>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-outline-primary" (click)="open('autofocus')">
                                <div>Agregar nueva Empresa</div>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    Id
                                </th>
                                <th>
                                    Nombre
                                </th>
                                <th>

                                </th>
                                <th>
                                    RFC
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th>
                                    Ciudad
                                </th>
                                <th>
                                    Telefono
                                </th>
                                <th>
                                    CP
                                </th>
                                <th>
                                    Factura
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let company of companies">
                                    <td>
                                        {{ company.id_company }}
                                    </td>
                                    <td>
                                        <div type="button" (click)="open('editar', company.id_company)" class=" text-primary">{{ company.company }}</div>
                                    </td>
                                    <td>
                                        {{ company.service }}
                                    </td>
                                    <td>
                                        {{company.rfc}}
                                    </td>
                                    <td>
                                        {{company.state}}
                                    </td>
                                    <td>
                                        {{company.city}}
                                    </td>
                                    <td>
                                        {{company.tel}}
                                    </td>
                                    <td>
                                        {{company.cp}}
                                    </td>
                                    <ng-template [ngIf]="company.invoice== 1">
                                        <td>Si</td>
                                    </ng-template>
                                    <ng-template [ngIf]="company.invoice== 0">
                                        <td>No</td>
                                    </ng-template>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>