<script src="https://paypal.com/sdk/js?client-id=AdzB8j-AFKIKc074GT0S0jkkbcwCnouRtA3QgoVNOKEhIqB-yROQA6L4sfwgylkou0ZABoEz5CNrbTfm&currency=MXN"></script>

<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md">
                            <h5 class="title">Pagos</h5>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-md">
                            <label>Empresas<strong><span class="text-danger">*</span></strong></label>
                            <select name="companies" class="form-control" inputmode="text" [(ngModel)]="this.company" (ngModelChange)="getService($event)">
                                <option [value]="exec.id_company" *ngFor="let exec of companies">{{exec.company}} {{exec.rfc}}</option>
                            </select>
                        </div>
                        <div class="col-md">
                            <label>Servicio<strong><span class="text-danger">*</span></strong></label>
                            <select name="services" class="form-control" inputmode="text" [(ngModel)]="this.service" (ngModelChange)="payment($event)">
                                <option [value]="serv.id_service" *ngFor="let serv of services">{{serv.name_service}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-4">
                            <div></div>
                        </div>
                        <div class="col-md-4">
                            <p><strong><span style="color: green;" *ngIf="accept"><i class="far fa-check-circle"></i> Mes Actual Pagado</span></strong></p>
                            <p><strong><span style="color: orange;" *ngIf="pagar"><i class="far fa-exclamation-circle"></i>Pagar Mes Actual</span></strong></p>
                            <p><strong><span style="color: red;" *ngIf="reject"><i class="fas fa-times-circle"></i> Adeudo Favor de pagar</span></strong></p>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-outline-primary" (click)="cash()">
                                <div>Pago En Efectivo</div>
                            </button>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-7">
                            <table class="table align-items-center table-flush">
                                <thead>
                                    <tr>
                                        <th class="col" class="text-center">Fecha</th>
                                        <th class="col" class="text-center">Valor</th>
                                        <th class="col" class="text-center">Estado</th>
                                        <th class="col" class="text-center">Seleccionar</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let payment of arrayfinal" class="pointer">
                                        <td scope="row">
                                            <div class="media align-items-center">
                                                <div class="media-body text-center">
                                                    <b class="mb-0 text-sm">{{payment.date }}</b>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            ${{payment.value}}
                                        </td>
                                        <td class="text-center align-items-center" *ngIf=" payment.status === 'COMPLETED'; else elseBlock">
                                            <span class="badge badge-success badge-do text-center">
                                                <i class="bg-warning"></i> {{payment.status}}
                                            </span>
                                        </td>
                                        <ng-template #elseBlock>
                                            <td class="text-center align-items-center" *ngIf=" payment.status === 'POR PAGAR'; else elseBlock1">
                                                <span class="badge badge-danger badge-do text-center">
                                                    <i class="bg-warning"></i> {{payment.status}}
                                                </span>
                                            </td>
                                            <ng-template #elseBlock1>
                                                <td class="text-center align-items-center">
                                                    <span class="badge badge-warning badge-dot text-center">
                                                        <i class="bg-warning"></i> {{payment.status}}
                                                    </span>
                                                </td>
                                            </ng-template>
                                        </ng-template>
                                        <td class="text-center">
                                            <input class="form-check-input" type="checkbox" name="miDataInterior" (change)="$event.target.checked ? agregar(payment) : quitar(payment)">
                                    </tr>
                                    <!-- <tr *ngFor="let payment of payments" class="pointer">
                                        <td scope="row">
                                            <div class="media align-items-center">
                                                <div class="media-body text-center">
                                                    <b class="mb-0 text-sm">{{payment.update_time |date: 'dd/MM/y'}}</b>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            ${{payment.value}}
                                        </td>
                                        <td class="text-center align-items-center" *ngIf=" payment.status === 'COMPLETED'; else elseBlock">
                                            <span class="badge badge-success badge-do text-center">
                                                <i class="bg-warning"></i> {{payment.status}}
                                            </span></td>
                                        <ng-template #elseBlock>
                                            <td class="text-center align-items-center">
                                                <span class="badge badge-warning badge-dot text-center">
                                                    <i class="bg-warning"></i> {{payment.status}}
                                                </span>
                                            </td>
                                        </ng-template>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>