<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md">
                            <h5 class="title">Pagar</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <p><strong><span class="text-primary">DESCUENTO</span></strong></p>
                    </div>
                    <br>
                    <br>
                    <div class="row justify-content-center">
                        <div class="col">
                            <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-primary" (click)="cash()">
                                <div>Pago En Efectivo</div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>