<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header">
                    <h5 class="title">Usuarios</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    Id
                                </th>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Descripcion
                                </th>
                                <th>
                                    Precio
                                </th>
                                <th>
                                    imagen
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let service of services">
                                    <td>
                                        {{ service.id_service }}
                                    </td>
                                    <td>
                                        {{ service.name_service }}
                                    </td>
                                    <td>
                                        {{ service.desc_service }}
                                    </td>
                                    <td>
                                        {{service.price}}
                                    </td>
                                    <td>
                                        <img height="80" src="http://192.168.137.1:3000/files/{{ service.img }}">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>