<div class="logo">
    <a href="https://gglobals.com.mx/" class="simple-text logo-mini">
        <div class="logo-img">
            <img src="./assets/img/icono.png" />
        </div>
    </a>
    <a href="https://gglobals.com.mx/" class="simple-text logo-normal">
        Global Service
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav" *ngIf="isAdmin">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a [routerLink]="[menuItem.path]">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
    <ul class="nav" *ngIf="isExecutive">
        <li routerLinkActive="active" *ngFor="let menuEjecutivo of menusEjecutivo" class="{{menuEjecutivo.class}} nav-item">
            <a [routerLink]="[menuEjecutivo.path]">
                <i class="now-ui-icons {{menuEjecutivo.icon}}"></i>
                <p>{{menuEjecutivo.title}}</p>
            </a>
        </li>
    </ul>
    <ul class="nav" *ngIf="isClient">
        <li routerLinkActive="active" *ngFor="let menuCliente of menusCliente" class="{{menuCliente.class}} nav-item">
            <a [routerLink]="[menuCliente.path]">
                <i class="now-ui-icons {{menuCliente.icon}}"></i>
                <p>{{menuCliente.title}}</p>
            </a>
        </li>
    </ul>
</div>