<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Editar Perfil</h5>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-5 pr-1">
                                <div class="form-group">
                                    <label>Email (disabled)</label>
                                    <input name="email" inputmode="email" class="form-control" [(ngModel)]="this.data.email" disabled="">
                                </div>
                            </div>
                            <div class="col-md-3 px-1">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input name="first_name" inputmode="text" class="form-control" [(ngModel)]="this.data.first_name" placeholder="Nombre">
                                </div>
                            </div>
                            <div class="col-md-4 pl-1">
                                <div class="form-group">
                                    <label for="email">Apellidos</label>
                                    <input name="last_name" inputmode="text" class="form-control" [(ngModel)]="this.data.last_name" placeholder="Apellido">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Direccion</label>
                                    <input name="direction" inputmode="text" class="form-control" placeholder="Direccion" [(ngModel)]="this.data.direction">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md pr-1">
                                <div class="form-group">
                                    <label>Colonia</label>
                                    <input name="colony" inputmode="text" class="form-control" placeholder="Colonia" [(ngModel)]="this.data.colony">
                                </div>
                            </div>
                            <div class="col-md px-1">
                                <div class="form-group">
                                    <label>Codigo Postal</label>
                                    <input name="cp" inputmode="text" class="form-control" placeholder="Codigo Postal" [(ngModel)]="this.data.cp">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-user">
                <div class="image">
                    <img src="../assets/img/bg5.jpg" alt="...">
                </div>
                <div class="card-body">
                    <div class="author">
                        <a href="#">
                            <img class="avatar border-gray" src="http://192.168.137.1:3000/files/{{ this.data.img }}" alt="...">
                            <h5 class="title">{{this.data.first_name}}</h5>
                        </a>
                        <ng-template [ngIf]="this.data.role_id_role== 1">
                            <p class="description">
                                Administrador
                            </p>
                        </ng-template>
                        <ng-template [ngIf]="this.data.role_id_role== 2">
                            <p class="description">
                                Ejecutivo
                            </p>
                        </ng-template>
                        <ng-template [ngIf]="this.data.role_id_role== 3">
                            <p class="description">
                                Cliente
                            </p>
                        </ng-template>
                    </div>
                    <p class="description text-center">
                        "Lamborghini Mercy
                        <br> Your chick she so thirsty
                        <br> I'm in that two seat Lambo"
                    </p>
                </div>
                <hr>
                <div class="button-container">
                    <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-facebook-f"></i>
          </button>
                    <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-twitter"></i>
          </button>
                    <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-google-plus-g"></i>
          </button>
                </div>
            </div>
        </div>
    </div>
</div>